#git
.git/
.github/

# Bun
bun.lockb
node_modules/
*.tsbuildinfo

#turbo
.turbo/
**/.turbo/

# Go
service/bin/
service/dist/
service/gen/
*.test
*.exe
*.exe~
*.dll
*.so
*.dylib

# React Native
ui/mobile/.bundle/
ui/mobile/node_modules/
ui/mobile/gen/
ui/mobile/android/build/
# no IOS build for now
ui/mobile/ios/
ui/mobile/.gradle/
ui/mobile/.expo/
*.apk
*.aab

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
