#git
.git/
.github/

# Bun
bun.lockb
node_modules/
*.tsbuildinfo

#turbo
.turbo/
**/.turbo/

# Backend
apps/service/dist/

# React Native
apps/mobile/.bundle/
apps/mobile/node_modules/
apps/mobile/gen/
apps/mobile/android/build/
apps/mobile/android/.gradle/
apps/mobile/android/app/build/
apps/mobile/android/app/.cxx/
apps/mobile/android/.kotlin/

# no IOS build for now
apps/mobile/ios/
apps/mobile/.expo/
*.apk
*.aab

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# AI
.agents/skills/
.agents/logs/
.agents/tmp/

# SQLite databases (generated at runtime)
*.db
*.db-shm
*.db-wal


apps/mobile/android/local.properties
apps/mobile/android/app/debug.keystore
.gitignore
*/*/dist/*
apps/mobile/dist-web/


